# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Build / generated
generated/
**/generated/
**/build/
**/target/
**/.gradle/
**/node_modules/

# Buf cache (si aparece)
.buf/

# Logs
*.log

# Environment files
*.env